<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin/dashboard.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/admin/dashboard">BairePoralekha</a>
      <a href="/admin/all-university-dashboard">University</a>
      <a onclick="logout()" href="#">Logout</a>
    </div>

    <div class="banner">
      <img src="/img/admin-banner.jpg" />
    </div>

    <div class="parent-btn">
      <a href="/admin/countries" class="create-country-btn btn">
        <button class="creation">
          Countries
          <span> <%= countries %></span>
        </button>
      </a>

      <a href="#" class="create-user-btn btn">
        <button class="creation">
          Users
          <span> <%= usercount %></span>
        </button>
      </a>

      <a href="/admin/articles" class="create-article-btn btn">
        <button class="creation">
          Articles
          <span> <%= articlecount %></span>
        </button>
      </a>

      <a
        href="/admin/all-university-dashboard"
        class="create-university-btn btn"
      >
        <button class="creation">
          University
          <span> <%= universitycount %></span>
        </button>
      </a>

      <a href="#" class="create-record-btn btn">
        <button class="creation">
          Record
          <span> 0</span>
        </button>
      </a>

      <a href="/admin/banners" class="create-record-btn btn">
        <button class="creation">
          Banner
          <span> <%= banner %></span>
        </button>
      </a>
    </div>

    <script>
      function logout() {
        fetch("/admin/dashboard", {
          method: "DELETE",
        });

        setTimeout(() => {
          window.location.replace("/");
        }, 1000);
      }
    </script>
  </body>
</html>
