<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/toastify.css" />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/user/article-list.css" />
    <link rel="stylesheet" href="/css/user/search.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
  </head>
  <body>
    <%- include("../parttial/navbar.ejs") %>

    <div class="noitce-container">
      <img src="/img/notice-back.avif" width="100%" />

      <div class="left_div">
        <div class="head">
          <p><%= data[0].title %></p>
        </div>

        <div class="child">
          <p><%= data[0].content.substring(0,202) %></p>
        </div>

        <a href="/article/<%= data[0]._id %>">
          <button>Check out</button>
          <i
            style="margin-top: 10px; color: #f2f2f2; margin-left: 5px"
            class="fas fa-arrow-right"
          ></i>
        </a>
      </div>
    </div>

    <div class="article-list">
      <% if(Object.keys(data).length != 0){ %>
      <div class="article-list-view">
        <div class="search-options">
          <select id="selector">
            <option value="title" selected>Title</option>
            <option value="date">Date</option>
          </select>

          <input
            id="search_text"
            type="text"
            placeholder="search by title or date"
          />
          <i
            onclick="Search()"
            class="ph-magnifying-glass-bold search-icon"
          ></i>
          <i onclick="Clear()" class="ph-arrow-clockwise-bold refresh-icon"></i>
        </div>

        <div class="b-line line"></div>

        <div class="card-container">
          <% for(let element = startingIndex; element < endingIndex; element++)
          { %>

          <a href="/article/<%= data[element]._id %>">
            <div class="article-card">
              <div class="article-card-header">
                <img
                  src="data:image/<%=data[element].articleImage.contentType%>;base64,
                <%=data[element].articleImage.data.toString('base64')%>"
                  alt="article-cover"
                />
              </div>
              <div class="card-details">
                <h4 class="article-title">
                  <%= data[element].title.substr(0,76) %>
                </h4>

                <p class="description">
                  <%= data[element].content.substr(0,80) %>
                </p>

                <div class="time">
                  <p><%= data[element].date.split("/").join("-") %></p>
                </div>
              </div>
            </div>
          </a>

          <% }; %>
        </div>

        <div class="e-line line"></div>

        <div id="pagination" class="pagination">
          <div class="left">
            <button id="left">&laquo;</button>
          </div>

          <div class="center" id="content">
            <% for(index = 1; index <= totalPage; index++){ %> <% if(index ===
            default_number) { %>

            <a
              href="/article/article-list/<%= index %>"
              class="internal active"
              id="<%= index %>"
              ><%= index %></a
            >
            <% } else { %>

            <a
              href="/article/article-list/<%= index %>"
              class="internal"
              id="<%= index %>"
              ><%= index %></a
            >
            <% } %> <% } %>
          </div>

          <div class="right">
            <button id="right">&raquo;</button>
          </div>
        </div>

        <%} else { %>

        <div style="display: grid; place-items: center">
          <p>There is no Article right now</p>
        </div>

        <% } %>
      </div>

      <div class="content-section"></div>
    </div>

    <script
      type="text/javascript"
      src="/js/userend/article-list-script.js"
      defer
    ></script>
    <script
      type="text/javacript"
      src="/js/userend/pagination.js"
      defer
    ></script>
  </body>
</html>
