<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/toastify.css" />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/user/article-list.css" />
    <link rel="stylesheet" href="/css/user/search.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
  </head>
  <body>
    <%- include("../parttial/navbar.ejs") %>

    <div class="noitce-container">
      <img src="/img/notice-back.avif" width="100%" />

      <div class="left_div">
        <div class="head">
          <p>New Article</p>
        </div>

        <div class="child">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            suscipit dolorum quos. Eum, exercitationem. Quaerat non totam
            eligendi quae ex! Esse nostrum nulla quis sapiente.
          </p>
        </div>

        <button>
          <a href="#"> Check out </a>
          <i
            style="margin-top: 10px; color: #f2f2f2; margin-left: 5px"
            class="fas fa-arrow-right"
          ></i>
        </button>
      </div>
    </div>

    <div class="article-list">
      <% if(Object.keys(data).length != 0){ %>
      <div class="article-list-view">
        <div class="search-options">
          <select id="selector">
            <option value="title" selected>Title</option>
            <option value="date">Date</option>
          </select>

          <input
            id="search_text"
            type="text"
            placeholder="search by title or date"
          />
          <i
            onclick="Search()"
            class="ph-magnifying-glass-bold search-icon"
          ></i>
          <i onclick="Clear()" class="ph-arrow-clockwise-bold refresh-icon"></i>
        </div>

        <div class="b-line line"></div>

        <div class="card-container">
          <% for(let element = startingIndex; element < endingIndex; element++)
          { %>

          <a href="#">
            <div class="article-card">
              <div class="article-card-header">
                <img
                  src="data:image/<%=data[element].articleImage.contentType%>;base64,
                <%=data[element].articleImage.data.toString('base64')%>"
                  alt="article-cover"
                />
              </div>
              <div class="card-details">
                <h4 class="article-title">
                  <%= data[element].title.substr(0,76) %>
                </h4>

                <p class="description">
                  <%= data[element].content.substr(0,80) %>
                </p>

                <div class="time">
                  <p><%= data[element].date.split("/").join("-") %></p>
                </div>
              </div>
            </div>
          </a>

          <% }; %>
        </div>

        <div class="e-line line"></div>

        <div id="pagination" class="pagination">
          <div class="left">
            <button id="left">&laquo;</button>
          </div>

          <div class="center" id="content">
            <% for(index = 1; index <= totalPage; index++){ %> <% if(index ===
            default_number) { %>

            <a
              href="/article/article-list/<%= index %>"
              class="internal active"
              id="<%= index %>"
              ><%= index %></a
            >
            <% } else { %>

            <a
              href="/article/article-list/<%= index %>"
              class="internal"
              id="<%= index %>"
              ><%= index %></a
            >
            <% } %> <% } %>
          </div>

          <div class="right">
            <button id="right">&raquo;</button>
          </div>
        </div>

        <%} else { %>

        <div style="display: grid; place-items: center">
          <p>There is no Article right now</p>
        </div>

        <% } %>
      </div>

      <div class="content-section"></div>
    </div>

    <script type="text/javascript" defer>
      const FailureToast = Toastify({
        text: "Sorry! No notice found",
        duration: 2000,
      });

      // search related functionality
      function Clear() {
        document.getElementById("search_text").value = "";
      }

      // search functionality for date & title
      async function Search() {
        const search_text = document.getElementById("search_text").value;

        const selector = document.getElementById("selector");
        const filter_value = selector.options[selector.selectedIndex].value;

        if (search_text) {
          const response = await fetch(
            `/article/article-list/${filter_value}/${search_text}`,
            {
              method: "GET",
            }
          );

          if (response.status === 200) {
            const result = await response.json();

            // first clear the childreen of card-container
            const parent_card_div = document.querySelector(".card-container");

            while (parent_card_div.firstChild) {
              parent_card_div.removeChild(parent_card_div.lastChild);
            }

            for (let index = 0; index < result.data.length; index++) {
              const { articleImage, date, title, content, _id } =
                result.data[index];

              const BinaryImageData = articleImage.data["data"];
              let bytes = new Uint8Array(BinaryImageData);
              let binary = "";

              for (let index = 0; index < bytes.length; index++) {
                binary += String.fromCharCode(bytes[index]);
              }

              const card = `

            <a href="#">  
            <div class="article-card">
            <div class="article-card-header">
              <img
                src="data:image/${articleImage.contentType};base64,
                ${btoa(binary)}"
                alt="article-cover"
              />
            </div>
            <div class="card-details">
              <h4 class="article-title">${title}</h4>

              <p class="description">
                ${content.substr(0, 80)}
              </p>

              <div class="time">
                <p> ${date.split("/").join("-")}</p>
              </div>
            </div>
          </div>
          </a>

            `;

              parent_card_div.innerHTML += card;
            }
          } else {
            FailureToast.showToast();
            Clear();
          }
        } else {
          alert("please write some text to search");
        }
      }

      // for the pagination part
      const rightbtn = document.getElementById("right");
      const main_content = document.getElementById("content");
      const leftbtn = document.getElementById("left");

      rightbtn.addEventListener("click", function (e) {
        main_content.scrollLeft += 100;
      });

      leftbtn.addEventListener("click", function (e) {
        main_content.scrollLeft -= 100;
      });
    </script>
  </body>
</html>
