<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/toastify.css" />

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/user/article-list.css" />
    <link rel="stylesheet" href="/css/user/search.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
  </head>
  <body>
    <%- include("../parttial/navbar.ejs") %>

    <div class="noitce-container">
      <img src="/img/notice-back.avif" width="100%" />

      <div class="left_div">
        <div class="head">
          <p>New Article</p>
        </div>

        <div class="child">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            suscipit dolorum quos. Eum, exercitationem. Quaerat non totam
            eligendi quae ex! Esse nostrum nulla quis sapiente.
          </p>
        </div>

        <button>
          <a href="#"> Check out </a>
          <i
            style="margin-top: 10px; color: #f2f2f2; margin-left: 5px"
            class="fas fa-arrow-right"
          ></i>
        </button>
      </div>
    </div>

    <div class="article-list">
      <% if(Object.keys(data).length != 0){ %>
      <div class="article-list-view">
        <div class="search-options">
          <select id="selector">
            <option value="title" selected>Title</option>
            <option value="date">Date</option>
          </select>

          <input
            id="search_text"
            type="text"
            placeholder="search by title or date"
          />
          <i
            onclick="Search()"
            class="ph-magnifying-glass-bold search-icon"
          ></i>
          <i onclick="Clear()" class="ph-arrow-clockwise-bold refresh-icon"></i>
        </div>

        <div class="b-line line"></div>

        <div class="card-container">
          <% data.forEach(element => { %>

          <div class="card">
            <div class="card-header">
              <img
                src="data:image/<%=element.articleImage.contentType%>;base64,
                <%=element.articleImage.data.toString('base64')%>"
                alt="article-cover"
              />
            </div>
            <div class="card-details">
              <h4 class="title"><%= element.title %></h4>

              <p class="description"><%= element.content.substr(0,80) %></p>

              <div class="time">
                <p><%= element.date.split("/").join("-") %></p>
              </div>
            </div>
          </div>

          <% }); %>
        </div>
        <%} else { %>

        <div style="display: grid; place-items: center">
          <p>There is no Article right now</p>
        </div>

        <% } %>

        <div class="e-line line"></div>
      </div>

      <div class="content-section"></div>
    </div>
  </body>
</html>
