<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/toastify.css" />

    <link rel="stylesheet" href="/css/common.css " />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/user/notice-list.css" />
    <link rel="stylesheet" href="/css/user/search.css" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/moment.js"></script>
  </head>
  <body>
    <%- include("../parttial/navbar.ejs") %>

    <div class="noitce-container">
      <img src="/img/notice-back.avif" width="100%" />

      <% if(typeof data != 'undefined'){ %>

      <div class="left_div">
        <div class="head">
          <p><%= data[0].title %></p>
        </div>

        <div class="child">
          <p><%= data[0].content.substr(0,177) %></p>
        </div>

        <button>
          <a href="/notice/all-notice-list/search/<%= data[0]._id %>">
            Check out
          </a>
          <i
            style="margin-top: 10px; color: #f2f2f2; margin-left: 5px"
            class="fas fa-arrow-right"
          ></i>
        </button>
      </div>

      <% } else { %> <% } %>
    </div>

    <div class="notice-list">
      <div class="notice-list-view">
        <div class="search-options">
          <select id="selector">
            <option value="title" selected>Title</option>
            <option value="date">Date</option>
          </select>

          <input
            id="search_text"
            type="text"
            placeholder="search by title or date"
          />
          <i
            onclick="Search()"
            class="ph-magnifying-glass-bold search-icon"
          ></i>
          <i onclick="Clear()" class="ph-arrow-clockwise-bold refresh-icon"></i>
        </div>

        <!-- <p
          style="text-align: center; margin: 5px 0 10px 0; display: none"
          class="error-text-for-search"
        ></p> -->

        <div class="line"></div>

        <div></div>

        <% if(Object.keys(data).length != 0){ %>

        <table id="maintable" class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <% for (let index = startingIndex; index < endingIndex; index++) { %>
          <tbody>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= data[index].title %></td>
              <td><%= data[index].date %></td>
              <td>
                <a
                  style="text-decoration: none"
                  href="/notice/all-notice-list/<%= data[index]._id %>"
                >
                  view</a
                >
              </td>
            </tr>
          </tbody>
          <% } %>
        </table>

        <div class="end-line"></div>

        <!-- dynamic page creation -->
        <div id="pagination" class="pagination">
          <div class="left">
            <button id="left">&laquo;</button>
          </div>

          <div class="center" id="content">
            <% for(index = 1; index <= totalPage; index++){ %> <% if(index ===
            default_number) { %>

            <span
              onclick="GetNotices('<%= index %>')"
              href="#"
              class="internal active"
              id="<%= index %>"
              ><%= index %></span
            >
            <% } else { %>

            <span
              class="internal"
              onclick="GetNotices('<%= index %>')"
              href="#"
              id="<%= index %>"
              ><%= index %></span
            >
            <% } %> <% } %>
          </div>

          <div class="right">
            <button id="right">&raquo;</button>
          </div>
        </div>
      </div>

      <% } else { %> <% } %>

      <div class="add-section"></div>
    </div>

    <script type="text/javascript" defer>
      const maintable = document.getElementById("maintable");
      const tablebody = maintable.getElementsByTagName("tbody");

      const FailureToast = Toastify({
        text: "Sorry! No notice found",
        duration: 2000,
      });

      async function GetNotices(pagenumber) {
        // based on page number fetch all notice
        const response = await fetch(`/notice/all-notice-list/${pagenumber}`, {
          method: "POST",
        });

        const result = await response.json();

        if (result.error) {
          FailureToast.showToast();
          // incase any error occured
        } else {
          let { startingIndex, endingIndex, totalPage, data, default_number } =
            result.information;

          const noticeInformation = [];

          const all_page = document.querySelectorAll(".internal");

          for (let index = 0; index < all_page.length; index++) {
            all_page[index].classList.remove("active");
          }

          for (let index = startingIndex; index < endingIndex; index++) {
            const { date, title, _id } = data[index];
            noticeInformation.push({ date, title, _id });
          }

          let counter = 0; // for table
          let counter2 = 0; // for information object

          for (let index = startingIndex; index < endingIndex; index++) {
            tablebody[counter]
              .getElementsByTagName("tr")[0]
              .getElementsByTagName("th")[0].innerHTML = ++startingIndex;

            tablebody[counter]
              .getElementsByTagName("tr")[0]
              .getElementsByTagName("td")[0].innerHTML =
              noticeInformation[counter2].title;

            tablebody[counter]
              .getElementsByTagName("tr")[0]
              .getElementsByTagName("td")[1].innerHTML =
              noticeInformation[counter2].date;

            const url =
              "/notice/all-notice-list/" + noticeInformation[counter2]._id;

            tablebody[counter]
              .getElementsByTagName("tr")[0]
              .getElementsByTagName("td")[2].children[0].href = url;

            tablebody[counter].getElementsByTagName("tr")[0].style.background =
              "none";

            counter++;
            counter2++;
          }

          all_page[default_number - 1].classList.add("active");
        }
      }

      // search related functionality
      function Clear() {
        document.getElementById("search_text").value = "";
      }

      // search functionality for date & title
      async function Search() {
        const search_text = document.getElementById("search_text").value;
        let searchValue = "";
        let count = 0;

        if (search_text.includes("/")) {
          searchValue = search_text.split("/").join("-");
        } else {
          searchValue = search_text;
        }

        const selector = document.getElementById("selector");
        const filter_value = selector.options[selector.selectedIndex].value;

        if (search_text) {
          // create a request
          const response = await fetch(
            `/notice/all-notice-list/filter/${filter_value}/${searchValue}`,
            {
              method: "POST",
            }
          );

          if (response.status === 200) {
            const result = await response.json();

            // clear background for new request
            for (let index = 1; index < maintable.children.length; index++) {
              maintable.children[index].getElementsByTagName(
                "tr"
              )[0].style.background = "none";
            }

            // update the data get from request
            for (let index = 1; index <= result.data.length; index++) {
              // create a table row
              const new_row = `
            
            <tbody>
              <tr>

                <th scope="row"> ${index}  </th>
                <td> ${result.data[index - 1].title} </td>
                <td> ${result.data[index - 1].date}</td>
                <td>
                  <a style="text-decoration: none;" href="/notice/all-notice-list/${
                    result.data[index - 1]._id
                  }"> view </a>
                </td>

              </tr>
            </tbody>
            
            `;

              if (index > tablebody.length) {
                // Because we have found data more then
                // the table row
                break;
              } else {
                maintable.children[index].getElementsByTagName(
                  "tr"
                )[0].innerHTML = new_row;

                maintable.children[index].getElementsByTagName(
                  "tr"
                )[0].style.background = "#e1eefc";
              }
            }
          } else {
            FailureToast.showToast();
            Clear();
          }
        } else {
          alert("please write some text to search");
        }
      }

      // for the pagination part
      const rightbtn = document.getElementById("right");
      const main_content = document.getElementById("content");
      const leftbtn = document.getElementById("left");

      rightbtn.addEventListener("click", function (e) {
        main_content.scrollLeft += 100;
      });

      leftbtn.addEventListener("click", function (e) {
        main_content.scrollLeft -= 100;
      });
    </script>
  </body>
</html>
