<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/toastify.css" />

    <link rel="stylesheet" href="/css/common.css " />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/user/notice-list.css" />
    <link rel="stylesheet" href="/css/user/search.css" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/moment.js"></script>
  </head>
  <body>
    <%- include("../parttial/navbar.ejs") %>

    <div class="noitce-container">
      <img src="/img/notice-back.avif" width="100%" />

      <% if(typeof data != 'undefined'){ %>

      <div class="left_div">
        <div class="head">
          <p id="title"><%= data[0].title %></p>
        </div>

        <div id="child" class="child fadedown">
          <p><%= data[0].content.substr(0,177) %></p>
          <a href="/notice/<%= data[0]._id %>">
            <button>Check out</button>
            <i
              style="margin-top: 10px; color: #f2f2f2; margin-left: 5px"
              class="fas fa-arrow-right"
            ></i>
          </a>
        </div>
      </div>

      <% } else { %> <% } %>
    </div>

    <div class="notice-list">
      <% if(Object.keys(data).length != 0){ %>
      <div class="notice-list-view">
        <div class="search-options">
          <select id="selector">
            <option value="title" selected>Title</option>
            <option value="date">Date</option>
          </select>

          <input
            id="search_text"
            type="text"
            placeholder="search by title or date"
          />
          <i
            onclick="Search()"
            class="ph-magnifying-glass-bold search-icon"
          ></i>
          <i onclick="Clear()" class="ph-arrow-clockwise-bold refresh-icon"></i>
        </div>

        <!-- <p
          style="text-align: center; margin: 5px 0 10px 0; display: none"
          class="error-text-for-search"
        ></p> -->

        <div class="line"></div>

        <div></div>

        <table id="maintable" class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <% for (let index = startingIndex; index < endingIndex; index++) { %>
          <tbody>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= data[index].title %></td>
              <td><%= data[index].date %></td>
              <td>
                <a class="view_link" href="/notice/<%= data[index]._id %>">
                  view</a
                >
              </td>
            </tr>
          </tbody>
          <% } %>
        </table>

        <div class="end-line"></div>

        <!-- dynamic page creation -->
        <div id="pagination" class="pagination">
          <div class="left">
            <button id="left">&laquo;</button>
          </div>

          <div class="center" id="content">
            <% for(index = 1; index <= totalPage; index++){ %> <% if(index ===
            default_number) { %>

            <span
              onclick="GetNotices('<%= index %>')"
              class="internal active"
              id="<%= index %>"
              ><%= index %></span
            >
            <% } else { %>

            <span
              class="internal"
              onclick="GetNotices('<%= index %>')"
              id="<%= index %>"
              ><%= index %></span
            >
            <% } %> <% } %>
          </div>

          <div class="right">
            <button id="right">&raquo;</button>
          </div>
        </div>
      </div>

      <% } else { %>

      <div style="display: grid; place-items: center">
        <p>There is no Notice right now</p>
      </div>

      <% } %>

      <div class="add-section"></div>
    </div>

    <script
      type="text/javascript"
      src="/js/userend/notice-list-script.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="/js/userend/pagination.js"
      defer
    ></script>
  </body>
</html>
